@use './partials_scss/color.scss';
@use './partials_scss/font.scss';
@use './partials_scss/header.scss';
@use './partials_scss/about.scss';
@use './partials_scss/projects.scss';
@use './partials_scss/button.scss';
@use './partials_scss/service.scss';

body {
    background: linear-gradient(to bottom, var(--dark-green) , var(--green-olive));
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
  }