:root {
  --dark-green: #10180D;
  --green-olive: #42421F;
  --brown: #786842;
  --bright-green: #A6A655;
  --fadded-green: #3E3F27;
  --light-corn: #DADD94;
  --egg: #F4EFE6;
  --white: #ffffff;
}

@font-face {
  font-family: "header";
  src: url("../media/font/Poltawski_Nowy/PoltawskiNowy-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "regular";
  src: url("../media/font/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf") format("truetype");
}
.number {
  font-family: "header";
  font-size: 200px;
  color: var(--fadded-green);
}

.title_letter {
  font-family: "header";
  font-size: 150px;
}

h1 {
  font-family: "header";
  font-size: 150px;
}

h2 {
  font-family: "header";
  font-size: 128px;
}

h3 {
  font-family: "header";
  font-size: 64px;
}

p {
  font-family: "regular";
  font-size: 40px;
}

.nav {
  height: 10vh;
  top: 3%;
  width: 95vw;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  margin-left: 1.5%;
  z-index: 1000;
  /*.menu {
      position: absolute;
      top: -30%;
      left: -2%;
      width: 100vw;
      height: 100vh;
      background-color: var(--egg);
      //margin: 0;
      display: grid;
      flex-direction: column;

      & .close {
          width: 5%;
          justify-self: flex-end;
          margin-right: 5%;
          margin-top: 5%;
      }

      & a {
          text-decoration: none;
          color: var(--bright-green);
          font-size: 150px;
          font-family: "header";
          margin-left: 7%;
      }
  }*/
}
.nav .burger-menu {
  position: fixed;
  top: 5%;
  right: 2%;
  width: 5%;
  height: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
  /* Burger Menu Animation */
}
.nav .burger-menu span {
  display: block;
  height: 6px;
  width: 90%;
  background-color: var(--brown);
  transition: all 0.5s ease;
}
.nav .burger-menu.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 15px);
}
.nav .burger-menu.open span:nth-child(2) {
  opacity: 0;
}
.nav .burger-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translate(25px, -40px);
}
.nav img {
  width: 8%;
}
.nav img.logo {
  justify-self: flex-start;
}
.nav .nav-menu {
  display: none;
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-corn);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  z-index: 999;
}
.nav .nav-menu.open {
  display: flex;
}
.nav ul {
  list-style: none;
  text-align: center;
}
.nav ul li {
  margin: 20px 0;
}
.nav ul li a {
  text-decoration: none;
  color: var(--bright-green);
  font-size: 170px;
  font-family: "header";
  margin-left: 7%;
  transition: color 0.3s;
}
.nav ul li a:hover {
  color: var(--green-olive);
}

.about {
  width: 100%;
  height: 100vh;
  position: relative;
  align-content: center;
  justify-content: center;
}
.about--box {
  margin-inline: auto auto;
  margin-block: auto;
  width: 70%;
  height: 60%;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 0.4fr 0.2fr 1fr;
  grid-template-rows: 0.2fr 1fr 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.about--box--title {
  grid-area: 1/3/2/4;
  color: var(--brown);
  justify-self: flex-end;
  align-self: flex-start;
  font-size: 120px;
}
.about--box--text {
  width: 63%;
  grid-area: 2/3/3/4;
  color: var(--brown);
  justify-self: flex-end;
  text-align: right;
  align-self: flex-end;
  margin-bottom: 3%;
}
.about--box--button {
  width: 35%;
  height: 30%;
  grid-area: 3/3/4/4;
  justify-self: flex-end;
  align-self: flex-start;
}
.about--box--social_media {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  grid-area: 1/2/4/3;
  margin-left: 5%;
}
.about--box--social_media--mail {
  margin-bottom: 5%;
  width: 3vw;
}
.about--box--social_media--linkedin {
  margin-bottom: 5%;
  width: 3vw;
}
.about--box--social_media--behance {
  width: 3vw;
}
.about--box--social_media--behance:hover {
  fill: red;
}
.about--box--picture {
  grid-area: 1/1/6/2;
  height: 90%;
  justify-self: center;
  align-self: flex-start;
}

.projects {
  margin-top: 20%;
  position: relative;
  width: 100vw;
}
.projects--box {
  margin-inline: auto auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.5fr repeat(3, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.projects--box--title {
  grid-area: 1/1/2/2;
  width: 70%;
  color: var(--bright-green);
  margin-left: 45%;
  margin-top: 20%;
  text-align: left;
  z-index: 1;
}
.projects--box--button {
  grid-area: 1/2/2/3;
  height: 8%;
  width: 55%;
  justify-self: center;
  margin-left: -10%;
  margin-top: 8%;
}
.projects--box--aurorae {
  grid-area: 1/3/2/4;
  width: 200%;
  align-self: flex-end;
  margin-left: -110%;
}
.projects--box--text {
  grid-area: 1/4/2/5;
  text-align: end;
  margin-left: -53%;
  margin-top: 26%;
  width: 100%;
  color: var(--brown);
}
.projects--box--chaos {
  grid-area: 2/3/3/5;
  width: 80%;
  margin-top: -10%;
}
.projects--box--confort {
  grid-area: 3/2/4/4;
  width: 90%;
  margin-top: -20%;
}
.projects--box--flhmlq {
  grid-area: 4/1/5/3;
  width: 50%;
  margin-top: -10%;
  margin-left: 20%;
}

button {
  border: solid 2px var(--white);
  background-color: transparent;
  border-radius: 5px;
  font-size: 40px;
  font-family: "regular";
  color: var(--white);
  letter-spacing: 10px;
}
button:hover {
  border: solid 3px var(--bright-green);
  color: var(--bright-green);
  font-weight: 400;
}

.services {
  position: relative;
  margin-top: 15%;
  width: 100vw;
  height: 200vh;
  padding-right: 5%;
}
.services--box {
  display: grid;
  grid-template-columns: 0.7fr repeat(3, 1fr);
  grid-template-rows: repeat(4, 15vh);
  grid-column-gap: 0px;
  grid-row-gap: 40vh;
  width: 100%;
  height: 200vh;
  /*
  &--first {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      grid-area: 1 / 3 / 2 / 4;

      &--number {
          margin-top: -4%;
      }

      &--skill {
          margin-top: 5%;
          margin-left: -5%;
      }


  }

  &--second {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      grid-area: 2 / 2 / 3 / 3;

      &--number {
          margin-left: 90%;
      }

      &--skill {
          margin-top: 20%;
          margin-left: -53%;
      }

  }

  &--third {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      grid-area: 3 / 2 / 4 / 4;
  }

  &--fourth {
      grid-area: 4 / 2 / 5 / 4;
  }*/
}
.services--box h2:nth-child(2) {
  color: var(--brown);
  font-size: 100px;
}
.services--box--title {
  grid-area: 1/1/5/2;
  z-index: 1;
  width: 80%;
  margin-top: -120%;
}
.services--box--first {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: auto auto;
  grid-area: 1/4/2/5;
}
.services--box--first--number {
  margin-left: -40%;
}
.services--box--first--skill {
  margin-left: -8%;
  margin-top: 40%;
}
.services--box--second {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: auto auto;
  grid-area: 2/2/3/4;
}
.services--box--second--skill {
  margin-left: -90%;
  margin-top: 30%;
}
.services--box--second--number {
  margin-left: 60%;
}
.services--box--third {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: auto auto;
  grid-area: 3/3/4/5;
}
.services--box--third--skill {
  margin-left: -90%;
  margin-top: 30%;
}
.services--box--third--number {
  margin-left: 60%;
}
.services--box--fourth {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: auto auto;
  grid-area: 4/2/5/5;
}
.services--box--fourth--skill {
  margin-top: -5%;
  margin-left: -7%;
}

.contact {
  height: 100vh;
}
.contact--box {
  margin-top: 5vh;
  margin-inline: auto auto;
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.contact--box .app {
  width: 30%;
}
.contact--box--title {
  text-transform: uppercase;
  color: var(--light-corn);
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 40%;
}
.contact--box--title:nth-child(2) {
  margin-top: 48%;
  margin-right: -10%;
  z-index: 1;
}
.contact--box--mail {
  grid-area: 1/2/2/3;
  align-self: flex-end;
  margin-left: 7%;
}
.contact--box--linkedin {
  grid-area: 2/1/3/2;
  justify-self: flex-end;
  margin-top: -5%;
}
.contact--box--behance {
  grid-area: 2/2/3/3;
  align-self: center;
  margin-left: 7%;
  margin-top: -10%;
}

.about svg:hover {
  fill: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, var(--dark-green), var(--green-olive));
  background-repeat: no-repeat;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */