@use './partials_scss/color.scss';
@use './partials_scss/font.scss';
@use './partials_scss/header.scss';
@use './partials_scss/about.scss';
@use './partials_scss/projects.scss';
@use './partials_scss/button.scss';
@use './partials_scss/service.scss';
@use './partials_scss/contact.scss';
@use './partials_scss/app.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, var(--dark-green) , var(--green-olive));
    background-repeat: no-repeat;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }