button{
    border: solid 2px var(--white);
    background-color: transparent;
    border-radius: 5px;

    font-size: 40px;
    font-family: "regular";
    color: var(--white);
    letter-spacing: 10px;

    &:hover{
        border: solid 3px var(--bright-green);
        color: var(--bright-green);
        font-weight: 400;
    }
}