:root{
    --dark-green: #10180D;
    --khaki: #8F8E49;
    --green-olive: #42421F;
    --brown: #786842;
    --bright-green: #A6A655;
    --fadded-green: #3E3F27;
    --light-corn: #DADD94;
    --egg: #F4EFE6;
    --white: #ffffff;
}