.services {
    position: relative;
    margin-top: 15%;
    width: 100vw;
    height: 200vh;
    padding-right: 5%;
    //background-color: red;

    &--box {
        display: grid;
        grid-template-columns: 0.7fr repeat(3, 1fr);
        grid-template-rows: repeat(4, 15vh);
        grid-column-gap: 0px;
        grid-row-gap: 40vh;
        width: 100%;
        height: 200vh;
        //background-color: aqua;
        

        & h2:nth-child(2) {
            color: var(--brown);
            font-size: 100px;
        }

        &--title {
            grid-area: 1 / 1 / 5 / 2;
            z-index: 1;
            width: 80%;
            margin-top: -120%;
        }

        &--first {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-inline: auto auto;
            grid-area: 1 / 4 / 2 / 5; 

            &--number{
                margin-left: -40%;
            }

            &--skill{
                margin-left: -8%;
                margin-top: 40%;
            }

        }

        &--second {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-inline: auto auto;
            grid-area: 2 / 2 / 3 / 4; 

            &--skill{
                margin-left: -90%;
                margin-top: 30%;
            }

            &--number{
                margin-left: 60%;
            }
            

        }

        &--third {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-inline: auto auto;
            grid-area: 3 / 3 / 4 / 5;

            &--skill{
                margin-left: -90%;
                margin-top: 30%;
            }

            &--number{
                margin-left: 60%;
            }
        }

        &--fourth {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-inline: auto auto;
            grid-area: 4 / 2 / 5 / 5; 

            &--skill{
                margin-top: -5%;
                margin-left: -7%;
            }
        }

        /*
        &--first {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            grid-area: 1 / 3 / 2 / 4;

            &--number {
                margin-top: -4%;
            }

            &--skill {
                margin-top: 5%;
                margin-left: -5%;
            }


        }

        &--second {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            grid-area: 2 / 2 / 3 / 3;
            
            &--number {
                margin-left: 90%;
            }

            &--skill {
                margin-top: 20%;
                margin-left: -53%;
            }

        }

        &--third {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            grid-area: 3 / 2 / 4 / 4;
        }

        &--fourth {
            grid-area: 4 / 2 / 5 / 4;
        }*/
    }


}