.services {
    &--box {
        display: grid;
        grid-template-columns: 0.5fr repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        &--title {
            grid-area: 1 / 1 / 6 / 2;
            color: var(--bright-green);
            transform: rotate(90deg);
        }

        &--first {
            grid-area: 1 / 4 / 2 / 5;
        }

        &--second {
            grid-area: 2 / 2 / 3 / 3;
        }

        &--third {
            grid-area: 3 / 3 / 4 / 4;
        }

        &--fourth {
            grid-area: 4 / 3 / 5 / 4;
        }
    }


}